.base-layout h1, .footer{
    text-align: center;
}
ul{
    padding: 0px;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
form{
    text-align: center;
    display: block;
    background-color: burlywood;
    height: 60%;
    width: 60%;
    margin: 10% auto;
    padding: 5px;
    border-radius: 10px;
}
form input{
    width: 50%;
}
form *{
    display: block;
    margin: 10px auto;
    max-width: 80%;
}
input{
    padding: 5px;
    border-radius: 5px;
}
button{
    border-radius: 5px;
    padding: 5px;
}