@import "https://fonts.googleapis.com/css?family=Poppins, Merriweather"
$primary: blue
$secondary: #ff5555
$success: #00ff00
$error: red

@mixin button
    display: inline-block
    background-color: $secondary
    border: 2px solid $secondary
    color: white
    padding: 5px
    margin: auto 5px
    text-decoration: none
    border-radius: 5px
    cursor: pointer

body
    background-image: url('background.png')
    margin: 0px
    padding: 0px
    color: white
    background-color: rgba(black, 0.7)
    font-size: 1.2rem
.base-layout
    background-color: $primary
    padding: 10px
    h1
        text-align: center
    nav
        display: flex
        justify-content: center
        flex-wrap: wrap
        gap: 5px
    margin-bottom: 10px
button, a
    @include button
button
    padding: 10px
button:hover, a:hover
    @include button
    color: $secondary
    background-color: inherit
button:hover
    padding: 10px

#home>a
    background-color: inherit
    border: 0px
button:active, a:active
    @include button
    color: $secondary
    background-color: gray
button:active
    padding: 10px
#home>a:hover
    color: $secondary
p
    text-align: center
    font-size: 1.5rem
p#home
    @extend p
    padding: 20px
form
    display: block
    width: 30%
    margin: auto calc(50% - 20px - 15%)
    background-color: rgba(black, 0.5)
    border-radius: 10px
    padding: 20px
    input
        display: block
        width: 70%
        padding: 10px
        border-radius: 5px
select
    padding: 10px
    margin: auto 5px
    option
        padding: 10px
form#logout
    display: inline
    max-width: 80px
    background-color: $primary
    border: 0px
    margin: 0px
    padding: 0px

img
    border-radius: 10px
img#profile
    width: 50%

.details
    padding: 20px
    div:hover
        color: white
        border: 2px solid $secondary
        border-radius: 5px
        padding: 5px

.coaches
    margin: 30px 10px
    display: flex
    justify-content: center
    gap: 10px
    flex-wrap: wrap
    .coach
        border: 2px solid $secondary
        border-radius: 5px
        padding: 10px
        margin: 0px
        max-width: 300px
        div
            text-align: center
        .details
            div:hover
                color: white
                border: 0px
                padding: 0px
        img
            width: 100%
            height: 100%
.success
    border: 2px solid $success
    color: $success
    padding: 10px
    border-radius: 5px
    width: 60%
    margin: 5px calc(50% - 10px - 30%)
.error
    border: 2px solid $error
    color: $error
    padding: 10px
    border-radius: 5px
    width: 60%
    margin: 5px calc(50% - 10px - 30%)
footer
    text-align: center
    color: white
    padding: 100px 10px
    margin-top: 10px
