@import "https://fonts.googleapis.com/css?family=Merriweather"
$primary: rgba(burlywood, .5)
$secondary: blue
$success: green
$error: red

@mixin box($padding: 5px, $maxWidth: 50%, $margin: 5px, $borderRadius: 5px)
    border-radius: $borderRadius
    padding: $padding
    max-width: $maxWidth
    margin: $margin auto
    text-align: center

@mixin flex-column
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center

body
    font-family: Merriweather, "New Times Roman", sans-serif
footer
    text-align: center
    margin-top: 10px
p
    margin: 5px

.base-layout h1, .oops h1, .oops h2, .footer
    text-align: center

ul
    padding: 0px

.home
    @include flex-column()
    .welcome
        @include flex-column()

form    
    display: block
    @include box()
    background-color: $primary
    height: 60%
    input
        width: 50%
    
    *
        display: block
        margin: 10px auto
        max-width: 80%
    

input
    padding: 5px
    border-radius: 5px

button
    @extend input
    background-color: $secondary
    color: white
    cursor: pointer

.success
    text-align: center
    color: $success
    border: 2px solid $success
    @include box()

.error
    text-align: center
    color: $error
    border: 2px solid $error
    @include box()
.coaches
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    .coach
        background-color: $primary
        padding: 5px
        margin: 5px
        border-radius: 10px
.details
    padding: 5px
    border-radius: 10px
    color: white
    background-color: $secondary
a
    text-decoration: none
    color: $secondary
nav
    display: flex
    justify-content: space-between
    margin: 10px auto
    a
        margin-left: 5px
        padding: 5px
        background-color: $secondary
        color: white
        border-radius: 5px
    a:hover
        background-color: lightblue
.base-layout
    center
        display: flex
        justify-content: center
        flex-wrap: nowrap
        align-items: center
    form
        display: inline
        background-color: inherit
        padding: 0px
        margin: 0px
        width: 10%
        button
            width: 100%
        button:hover
            background-color: lightblue
            color: white
button a
    color: white