$primary: rgba(burlywood, .5);
$success: green;
$error: red;

@mixin box($padding: 5px, $max-width: 50%, $margin: 5px, $border-radius: 5px){
    border-radius: $border-radius;
    padding: $padding;
    max-width: $padding;
    margin: $margin auto;
    text-align: center;
}
.base-layout h1, .footer{
    text-align: center;
}
ul{
    padding: 0px;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
form{
    text-align: center;
    display: block;
    background-color: $primary;
    height: 60%;
    width: 60%;
    margin: 10% auto;
    padding: 5px;
    border-radius: 10px;
    input{
        width: 50%;
    }
    *{
        display: block;
        margin: 10px auto;
        max-width: 80%;
    }
}
input{
    padding: 5px;
    border-radius: 5px;
}
button{
    border-radius: 5px;
    padding: 5px;
}
.success{
    text-align: center;
    color: $success;
    border: 2px solid $success;
    border-radius: 5px;
    padding: 5px;
    max-width: 50%;
    margin: 5px auto;

}
.error{
    text-align: center;
    color: $error;
    border: 2px solid $error;
    border-radius: 5px;
    padding: 5px;
    max-width: 50%;
    margin: 5px auto;


}